<div class="container-fluid">
	<div class="hero-unit span10">
		<div class="container-fixed">
			<div class="span4">
					<h1>New pin</h1>

					<%= render 'form' %>

					<%= link_to 'Back', pins_path %>
			</div>
		</div>
	</div>
</div>
