<div class="hero-unit">
<h1>About Opinned</h1>
<br>
	I built this from scratch using
	<%= link_to "Ruby on Rails", "http://rubyonrails.org", target: '_blank' %>
	,
	<%= link_to "Bootstrap", "http://twitter.github.com", target: '_blank' %>
	and various other Gems. The purpose of building this app was to get familiar with and jump into <%= link_to "Ruby on Rails", "http://rubyonrails.org", target: '_blank' %>. Take a look around and check out what I'm working on! I am going to continuously update and try out new things on this app while I work on other applications as well. Thanks for coming by! 
	<br />
	<br />
	<p>
		<%= link_to "Sign Up Now", '#', class: "btn btn-primary btn-large" %>
	</p>
</br>
</div>