<div class="hero-unit">
<h1>Contact us</h1>
<br>
	<p>
		We would love to hear from you. Tell us what you think, what you need, what you want to see. We will do our very best to bring you all the features you want to this little app. Go ahead - be Opinn with us!
	<br />
	<br />
	<p>
	<a href="mailto:info@opinnd.co?Subject=Get%20Oppind" target="_blank" class="btn btn-primary btn-large">Contact Us</a>
	</p>	
</div>