<div class="hero-unit">
<h1>How it works</h1>
<br>
	This page will tell users how Opinnd works.
	<br />
	<br />
	<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</br>
</div>