<div class="container-fluid">
	<div class="hero-unit span10">
		<div class="container-fixed">
			<div class="span4">
				<h1>How it works</h1>
				<br>
					<ol>
						<li>Pin pictures to Opinnd</li>
						<li>Describe your opinion</li>
						<li>Get others in on the conversation</li>
						<li>Be opinn</li>
					<br />
					<br />
					<p>
						<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
					</p>
				</br>
							</div>
	</div>			
				<div class="span3">
					<div class="laptopimage">
					</div>
				</div>
		</div>
	
</div>