<div class="hero-unit">
<h1>How it works</h1>
<br>
	<ol>
		<li>Pin pictures to Opinnd</li>
		<li>Describe what you're thinking, feeling, or trying to convey with your pin</li>
		<li>Get other's in on the conversation</li>
		<li>Be opinn</li>
	<br />
	<br />
	<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</br>
</div>