$navbarBackgroundHighlight: #3b5999;
$navbarBackground: #3b5999;
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkColorHover: white;
$btnPrimaryBackground: purple;


@import 'bootstrap';
html body{
    padding-top: 60px;
}
html body #bgimage {
    background-image: url('/assets/images/cityscape.jpg');
}

@import 'bootstrap-responsive';

html body a:hover {
	text-decoration: none;
}

.navbar-inner{
    @include box-shadow(none !important);
		border: 0;
		background-color: rgba(59, 89, 153, .85);
		background-image: none;
		background-repeat: no-repeat;
		opacity: 1;
}

.nav:a {
  text-decoration: none;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: white;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.bold {
	color: purple;
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}