$navbarBackgroundHighlight: #3b5999;
$navbarBackground: #3b5999;
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkColorHover: white;
$btnPrimaryBackground: purple;


@import 'bootstrap';
html body{
    padding-top: 60px;
}

/* The commented class below this is set up in case it ever needs to be used. For "yielded" content on the page 
(see application.html.erb) the class "container-fluid" added to the wrapper div works to center content. */

/*
#center {
  float: none !important;
  margin-left: 0 auto !important;
  margin-right: 0 auto !important;
} */


#bgimage {
    background: url('cityscape.jpg') no-repeat right top;
    opacity: .95;
    background-attachment: fixed;
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.hero-unit {
  background-color: rgba(204, 204, 204, .85);
}



@import 'bootstrap-responsive';

html body a:hover {
	text-decoration: none;
}

.navbar-inner{
    @include box-shadow(none !important);
		border: 0;
		background-color: rgba(59, 89, 153, .85);
		background-image: none;
		background-repeat: no-repeat;
		opacity: 1;
}

.nav:a {
  text-decoration: none;
}

.footer{
    opacity: .95;
    color: #fff;
    position: relative;
    margin-top: 75px;
    height: 45px;
    clear: both;
    padding-top: 55px;
    a{
        color: #fff;
    }
}

/*
.footerwrap {
  border: solid black .5px;
  border-radius: 2px;
  height: auto;
  padding: 8px;
  background: #ccc;
  opacity: .80;
  -webkit-box-shadow: 1px 3px 8px $grayDark;
  -moz-box-shadow: 1px 3px 8px $grayDark;
  box-shadow: 1px 3px 8px $grayDark;
}
*/

.pinshow {
  opacity: .95;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: white;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.bold {
	color: purple;
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
    background: #fff;
    opacity: .85;
    &:hover {
      opacity: .95;
    }
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    opacity: .95;
}

.description {
    background: #fff;
    margin: 10px 0 5px;
}

.username {
  color: $grayLighter;
}

/* Image on Sign Up Page */
.laptopimage {
  background: url('laptop2.gif') no-repeat;
  background-position: relative;
  background-size: 95% auto;
  height: 500px;
  width: 600px;
  margin-top: -100px;
} 
